{{- $id := or (.Get "id") (.Get 0) }}
{{- $type := or (.Get "type") "playlist" }}
{{- $height := or (.Get "height") "352" }}
{{- if $id }}
<figure class="spotify-embed" role="region" aria-label="Spotify embed">
  <iframe
    data-testid="embed-iframe"
    class="spotify-embed__iframe"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/{{ $type }}/{{ $id }}?utm_source=generator"
    width="100%"
    height="{{ $height }}"
    frameborder="0"
    allowfullscreen
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
    title="Spotify {{ $type }}"
  ></iframe>
</figure>
{{- end }}
